/*
Web designer : Xiu qiang Chu
Website : http://www.chu-xiu-qiang.com/en/
Location : France
*/

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
h1{font-size:138.5%;}h2{font-size:123.1%;}h3{font-size:108%;}h1,h2,h3{margin:1em 0;}h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}abbr,acronym{border-bottom:1px dotted #000;cursor:help;} em{font-style:italic;}blockquote,ul,ol,dl{margin:1em;}ol,ul,dl{margin-left:2em;}ol li{list-style:decimal outside;}ul li{list-style:disc outside;}dl dd{margin-left:1em;}th,td{border:1px solid #000;padding:.5em;}th{font-weight:bold;text-align:center;}caption{margin-bottom:.5em;text-align:center;}p,fieldset,table,pre{margin-bottom:1em;}input[type=text],input[type=password],textarea{width:12.25em;*width:11.9em;}

html{background-color: #eee;}
body{padding:0 !important;margin:0;}

.sprite_icon {background-color: transparent !important;background: url("../images/sprite.png");background-repeat: no-repeat !important;}
.f_left {float:left !important;}
.f_right {float:right !important;}
.last {margin-right: 0 !important;}
.no_margin{margin:0 !important;}
input, label {outline: none;}
.clearfix {clear:both;}
ul {margin:0!important;margin-bottom: 8px;margin-top: 8px;}
ul li {list-style:none;}
td, th{padding: 7px;}
th{font-weight: bold;}
.small {width:33.33%; /*margin-right:2%;*/}
.medium {width:49.99%; /*margin-right:1%;*/}
.large {width:99.99%;}

/* Form */

form input, form textarea{padding: 5px;}
form fieldset input, form fieldset textarea, form fieldset .wysiwyg {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #D5D5D5;color: #333333;font-size: 12px;}
form input[type="submit"], a.graybutton{height: 30px;line-height: 30px;padding: 0 10px 0;margin-right: 5px;font-size: 13px;color:#464646 !important;}
#sf_admin_container input, #sf_admin_container textarea{width: auto;}
#sf_admin_container .sf_admin_form input[type="text"], #sf_admin_container .sf_admin_form textarea{width: 85%;}
#sf_admin_container .custom-radio label {padding-left:25px; padding-top:2px;}
#sf_admin_container .radio_list, #sf_admin_container .checkbox_list{margin: 0;}
#sf_admin_container .radio_list li, #sf_admin_container .checkbox_list li{list-style: none;display: inline;float:left;}

/* Fielset */

#sf_admin_container fieldset h2{padding: 3px;color: #333;background-color: #ccf;font-size: 11px;margin: 0;font-size: 110%;font-family: arial,sans-serif;font-style: italic;}
#sf_admin_container fieldset{margin:0;}
#sf_admin_container fieldset .custom-checkbox label {padding-left:20px;padding-top: 3px;}
#sf_admin_container label{display: block;padding: 0 1em 3px 0;float: left;text-align: left;width: 8em;color: #666;font-weight: normal !important;}
#sf_admin_container ul label, #sf_admin_container td label{display: inline;float: none !important;}
#sf_admin_container .sf_admin_form_row{clear: both;padding: 10px;overflow:hidden;}

/* button style */

.graybutton {background: url("../images/tab_bg.png") repeat-x scroll bottom center #fff;border: 1px solid #C4C4C4;color: #000000;display:block;line-height: 22px;padding: 0 10px;text-decoration: none;cursor: pointer;}
.graybutton.active, .graybutton:hover{background: url("../images/bluebutton_bg.png") repeat-x  bottom center #186CA5;border: 1px solid #0F1F29;color: #FFFFFF !important;text-decoration: none !important;}
input.graybutton {height:32px !important;}
a.delete_item span {background-position:0 -224px;padding-left:22px;}
a.edit_item span {background-position:0 -336px;padding-left:22px;}
a.return_to_list span{background-position: 0 -1136px;padding-left:22px;}
form input[type="submit"]:hover {background: url("../images/bluebutton_bg.png") repeat-x  bottom center #186CA5;border: 1px solid #0F1F29;color: #FFFFFF !important;text-decoration: none !important;cursor: pointer;padding: 0 10px;}

/***************** Header *****************/

#header {overflow: hidden;background-image: url(../images/bg-header.jpg);background-repeat: repeat-x;height:183px;}
#head_wrap {overflow: hidden;margin:0 40px;padding-top: 25px;position:relative;}
#header h2 {float: left;line-height: 44px;padding-left: 42px;position: relative;}
#header #logo{width: 300px;float:left;display: inline;margin-right: 10px;position: relative;}
#header #logo h1 {margin:0;}
#header #logo h1 a {font-size: 36px;letter-spacing: -3px;font-family: Tahoma, Geneva, sans-serif;color: #F1F1F1;margin: 0px;font-weight: bold;text-decoration: none;}
#header #logo h1 span {font-weight: normal;}
#header #controlpanel {display: inline;float: right;margin-left: 10px; }
#header #controlpanel ul {float: right;}
#header #controlpanel ul li {color:#fff;display: inline;font-size: 11px;}
#header #controlpanel ul li a.logout {color:#fff;;background: url(../images/logout.png) no-repeat left center; padding-left: 17px; text-decoration:none;}
#header #controlpanel ul li a.logout:hover {text-decoration: underline;}

/* Navigation */

#header #navigation ul li .nav_last {border-right: 1px solid #00769D;}
#header #navigation ul > li, #header #controlpanel ul li {line-height:26px;}
#header #navigation {display: inline;float: left;margin-top: 36px;padding-right: 2%;position: relative;width: 98%;padding-bottom:46px;}
#header #navigation ul > li {display: inline;float: left;}
#header #navigation ul > li > a {color: #fff;font-size: 12px;font-weight: bold;display:block;height:29px;padding: 0 20px;text-decoration:none;background-color: #3391B0;border-color: #009BCE #009BCE #00769D #00769D;border-style: solid;border-width: 1px;color: #EFEFEF;}
#header #navigation ul > li > ul {height: 29px;padding-top: 17px;position: absolute;left: 0;text-align: left;top: 31px;width: 100%;display:none;}
#header #navigation ul > li > ul > li{border:0;text-transform: uppercase;background:none;float: left;line-height: normal;}
#header #navigation ul > li > ul > li > a{
border: 0;border-right: 1px solid #CCCCCC;color: #999999;font-size: 10px;font-weight: bold;padding: 0 15px;text-decoration: none;display:inline;background:none;}
#header #navigation ul > li > ul > li.last > a, #header #navigation ul > li > ul > li.last > a:hover{border:0;}
#header #navigation ul > li > ul > li > a:hover, #header #navigation ul > li > ul > li > a.active{color:#000;background:none;border:0;border-right: 1px solid #CCCCCC;}
#header #navigation ul > li > a:hover,  #header #navigation ul > li.current > a, #header #navigation ul > li:hover > a {border:1px solid #fff;background-color: #fff;color: #202020;border-right: 1px solid #CCCCCC;}
#header #navigation ul li .nav_last {border: 1px solid #00769D;}
#header #navigation ul > li > ul > li.first a{border-right: 1px solid #CCC; }
#header #navigation ul > li > ul > li.first a:hover{border: 0;border-right: 1px solid #CCC; }

/***************** Content *****************/

#container{width: 100%;background: none;}
#content{margin: 20px 40px;clear: both;}
#content h1{padding: 0;background: transparent;margin-bottom: 20px;font-size: 140%;color: #000;}
#sf_admin_container a{color: #464646;text-decoration: none;}
#sf_admin_container a:hover{text-decoration: underline;}
#sf_admin_container h1{margin: 0 0 20px;padding: 0;color: #626262;}
#sf_admin_container .title{border-bottom: 2px solid #CCCCCC;margin-bottom: 30px;padding-bottom: 10px;}
#sf_admin_container .title h1 {float:left;margin-bottom:0;}
#sf_admin_container .title .new-record {padding-left:20px;background: url(../images/new.png) no-repeat 0 3px;font-size:18px;}
#sf_admin_container .content-box-header{background: url("../images/content-header_bg.png") repeat scroll 0 0 transparent;border-bottom: 1px solid #C4C4C4;border-top: 1px solid #FFFFFF;height: 34px;padding: 0 1%;overflow:hidden;}
#sf_admin_container .content-box-header h3{color: #626262;font-size: 14px;line-height: 30px;margin: 0;}
#sf_admin_container .content-box {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #C4C4C4;margin:0 5px 16px 0px;}
#sf_admin_container .content-box-header h1 {float: left;line-height: 34px;margin:0;color: #626262;text-transform: none;}
#sf_admin_bar{float: right;margin-left: 20px;}


/***************** Dashboard *****************/

.dashboard{overflow:hidden;padding:20px 20px 0 20px;}
.dashboard ul li {display: inline;}
.dashboard ul li a {background:url("../images/bg-dashboard-icon.jpg") repeat-x; border: 1px solid #ccc;color: #666;float: left;font-size: 12px;font-weight: bold;height: 60px;margin: 5px 12px 20px 0;padding: 15px;position: relative;text-align: center;width: 60px;}
.dashboard ul li a img {margin-bottom: 10px;border: none;}
.dashboard ul li a span {background-color: #E60000;bottom: 0;color: #fff;font-size: 9px;font-weight: bold;height: 8px;left: 75px;line-height: 9px;padding: 7px;position: absolute;right: 0;text-align: center;top: -8px;width: 8px;z-index: 1;}
.dashboard ul li a:hover{ background-color: #FFF; border: 1px solid #999; color: #333; text-decoration:none !important;}

/***************** Table style *********************/

.sf_admin_list table {width:100%;border-top:none;}
.sf_admin_table_content {padding:10px;}
#sf_admin_container th{border: 0;white-space: nowrap;text-align: left;vertical-align: top;}
#sf_admin_container thead th{background-color:#eee;border-bottom: 1px solid #DDDDDD;height: 40px;vertical-align: middle;}
#sf_admin_container td{border: 0;text-align: left;vertical-align: middle;}
#sf_admin_container tbody tr{background-color: #fff;}
#sf_admin_container tbody tr.sf_admin_row.odd {background: none repeat scroll 0 0 #F5F5F5;}
#sf_admin_container tr:hover{background-color: #ffe;}
#sf_admin_container tfoot th{height: 70px;padding: 0 7px;vertical-align: middle;border-top: 1px solid #DDD;font-weight: normal;}
#sf_admin_container tfoot td{margin: 0;list-style: none;text-align: right;}
.sf_admin_form_field_logo div div{margin-left: 59px;}
#sf_admin_container .sf_admin_form_field_logo div div label{display: inline;float: none;}


/****************** Batch actions ****************/

#sf_admin_container ul.sf_admin_td_actions{margin: 0;padding: 0;list-style-type: none;}
#sf_admin_container ul.sf_admin_td_actions li{list-style-type: none;display: inline;margin-right: 10px;font-size: 90%;}
#sf_admin_container .sf_admin_actions{margin: 1px 0 0;overflow:hidden;}
#sf_admin_container tbody .actions_table {width:307px;}
#sf_admin_container ul.sf_admin_actions li{list-style-type: none;display: inline;margin-right: 10px;}
#sf_admin_container ul.sf_admin_actions li a,
#sf_admin_container ul.sf_admin_td_actions li a, .sf_admin_action_deleteneveractivated{padding-left: 20px;background: url(../images/default.png) no-repeat 0 0;}
#sf_admin_container ul li.sf_admin_action_new a{background: url(../images/new.png) no-repeat 0 0; padding-left:20px;margin-right:20px;}
#sf_admin_container ul li.sf_admin_action_delete a{background: url(../images/delete.png) no-repeat 0 0;}
#sf_admin_container ul li.sf_admin_action_list a{background: url(../images/cancel.png) no-repeat 0 0;}
#sf_admin_container ul li.sf_admin_action_edit a{background: url(../images/edit.png) no-repeat 0 0;}

.list_batch_actions {
  overflow:hidden;
  margin-top:9px;
}

.list_batch_actions li {float:left;}

/************* Pagination ****************/

.sf_admin_pagination{float: right;}
#sf_admin_content .paginate_top { height: 36px;padding: 0 7px 0 0;border-bottom:1px solid #DDD;height: 50px;line-height: 34px;}
#sf_admin_content .paginate_top .sf_admin_pagination {margin-top:5px;}
#sf_admin_content .paginate_top .nb_results {font-size:14px; font-weight:bold;margin-left:25px;}
.sf_admin_pagination a, .sf_admin_pagination span {float: left;line-height: 22px;margin: 0 3px  ;padding: 0 6px;height:inherit;}
.sf_admin_pagination .pagelink {height:22px;}
.sf_admin_pagination .button_nav {background: url("../images/sprites-pagination.png") no-repeat top left;display:block;width:24px;height:24px;padding:0;}

.sf_admin_pagination .next {background-position: 0 -125px;}
.sf_admin_pagination .previous {background-position: 0 -175px;}
.sf_admin_pagination .first {background-position: 0 -25px;margin-right:10px;}
.sf_admin_pagination .last {background-position: 0 -75px;margin-left:10px;}
.sf_admin_pagination .next:hover {background-position: 0 -100px;}
.sf_admin_pagination .previous:hover {background-position: 0 -150px;}
.sf_admin_pagination .first:hover { background-position: 0 0; }
.sf_admin_pagination .last:hover {background-position: 0 -50px;}

/******************* Search ******************/

.content-box-header .module_search {float:right;margin-top:1px;}
.content-box-header .module_search .advance_search {background: url("../images/advance_search.png") no-repeat;display: block;height: 32px;margin-right: 6px;text-indent: -9999px;width: 32px;cursor:pointer;}
.content-box-header .module_search form{overflow:hidden;float:left;}
.content-box-header .module_search input#module_search_input {height:20px;margin-right:5px;background: none repeat scroll 0 0 #fff;border: 1px solid #ccc;color: #333;}
.content-box-header .module_search .cancel_search {background: url("../images/delete.png") no-repeat scroll 0 0 transparent;display: block;float: left;height: 16px;margin-left: 5px;margin-top: 8px;width: 16px;}
.content-box-header .module_search .cancel_search:hover {text-decoration: none !important;}


/******************* Modal form filtre **************/

#blocFilter {float:none;margin: 0;}
#blocFilter .sf_admin_filter  .sf_admin_form_row {display:block;margin-top: 0.8em;font: 13px/1.231 arial,helvetica,clean,sans-serif;}

#blocFilter .sf_admin_filter .label {float: left;line-height: 22px;margin-right: 1%;text-align: left;width: 30%;font-weight: bold;}
#blocFilter .sf_admin_filter .label  a{font-size: 100%;}
#blocFilter .sf_admin_filter .help {font-size: 75%;font-style:italic;}
#blocFilter .sf_admin_filter {background-color:#FFF;margin:12px 0;}
#blocFilter  .sf_admin_filter input[type="text"], #blocFilter  .sf_admin_filter textarea{background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #D5D5D5;color: #333333;font-size: 12px;width: 60%;}


/****************** Flash message ******************/

#container .notice{background-color: #E2FF7D;background-image: url("../images/success.png");background-position: left center;background-repeat: no-repeat;border: 1px solid #99C600;font-size: 13px;height: 34px;line-height: 34px;margin-bottom: 16px;padding: 0 42px;position: relative;}
#container .error {background-color: #F5B5A9;background-image: url("../images/error.png");background-position: left center;background-repeat: no-repeat;border: 1px solid #EB5339;height: 34px;line-height: 34px;margin-bottom: 16px;font-size: 13px;padding: 0 42px;position: relative;}
#sf_admin_container ul.error_list{margin: 0;margin-bottom: 7px;color: #d33;border: none;background-color: #f33;}
#sf_admin_container ul.error_list li{color: #FFFFFF;list-style: none outside none;margin-bottom: 10px;padding: 10px 41px;background: url(../images/error.png) no-repeat 4px 4px;}


/* Other */
.bloc{display: block !important;font-size: 0 !important;width: 16px;}
.bloc{background-color: transparent !important;background-image: url("../images/sprite.png") !important;height: 16px;cursor:pointer;}
.bool_tick {background-position: 0 -208px;}
.bool_cross {background-position: 0 -224px;}






