/**************************************************
'Project          : NIS.
'File Description : Style sheet for NIS.
'Date    		  : 05-04-2011
'*************************************************/
body{padding:0; margin:0; background:url(../images/bg.gif) repeat-x; background-color:#177839; font-family:Arial, Helvetica, sans-serif;}
.header{ background:url(../images/header_bg.gif) repeat-x; height:93px;}
.header_container{ width:960px; margin:0 auto;}
.logo{ background:url(../images/nis_logo.gif) no-repeat; width:295px; height:79px; float:left; margin:7px 0 0 0;}
.top_panel{ width:284px; float:right;}
.top_panel_left{ background:url(../images/top_left_panel.png) no-repeat; width:18px; height:40px; float:left;}
.top_panel_right{ background:url(../images/top_right_panel.png) no-repeat; width:18px; height:40px; float:right;}
.top_panel_bg{ background:url(../images/top_panel_bg.png) repeat-x; width:248px; height:40px; float:left;}
.top_panel_links{ float:left;}
.top_panel_links ul{padding:12px 0 0 0; margin:0 0 0 0;}
.top_panel_links ul li{padding:0 0 0 0; margin:0 0 0 0; display:inline;}
.top_panel_links ul li a{padding:0 0 0 21px; margin:0 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#062301; text-decoration:none;}
.top_panel_links ul li a:hover{color:#177839; text-decoration:none;}
.top_panel_links ul li a.settings{ background:url(../images/setting_icon.png) no-repeat; height:15px; padding-right:6px; float:left;}
.top_panel_links ul li a.change_password{ background:url(../images/change_password_icon.png) no-repeat; height:15px; padding-right:6px; float:left;}
.top_panel_links ul li a.logout{ background:url(../images/logout_icon.png) no-repeat; height:15px; padding-right:6px; float:left;}
.clear{ clear:both;}
.user_info{ float:right; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#062301; padding:20px 0 0 0;}
.top_right_panel{ float:right; width:300px;}
.top_nav_section{ background:url(../images/top_nav_bg.gif) repeat-x; height:28px;}
.top_nav_area{ width:960px; margin:0 auto;}
.top_nav_links{padding:0 0 0 0; margin:0 0 0 0;}
.top_nav_links li{ padding:0 10px 0 10px; margin:0 0 0 0; display:inline-block; background:url(../images/sep.gif) no-repeat; background-position:0 5px; float:left; line-height:26px;}
.top_nav_links li a{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#044019; text-decoration:none;}
.top_nav_links li a:hover{color:#177839; text-decoration:none;}
.top_nav_links li.selected{}
.top_nav_links li a.selected_link{ color:#044019; text-decoration:underline; font-weight:bold;}
.top_nav_links li.sep_none{ background:none;}
.wrapper{ width:972px; margin:0px auto; background:url(../images/content_bg.gif) repeat-y; min-height:450px; height:auto!important; height:300px;}
.content_section{ width:960px; margin:0 auto;}
.page_title_bg{ background:url(../images/page_title_bg.gif) repeat-x; height:35px; width:960px; margin:0 auto;}
.page_title{ font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#ffffff; padding:6px 0 0 12px; float:left; width:350px;}
.breadcrumb_section{ float:right; padding:10px 10px 0 0; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF;}
.breadcrumb_section ul{padding:0 0 0 0; margin:0 0 0 0;}
.breadcrumb_section ul li{padding:0 0 0 0; margin:0 0 0 0; display:inline;}
.breadcrumb_section ul li a{padding:0 10px 0 10px; margin:0 0 0 0; text-decoration:none; color:#FFFFFF!important;}
.breadcrumb_section ul li a:hover{text-decoration:none; color:#062301!important;}
.breadcrumb_section ul li a.active_link{color:#FFFFFF!important; text-decoration:underline!important;}
.step_process_container{ background:url(../images/step_process_bg.gif) repeat-x; height:42px; width:960px; margin:0 auto;}
.step_process{ padding:0 0 0 0; margin:0;}
.step_process li{ padding:0 15px 0 35px; margin:0; display:inline-block; float:left; background:url(../images/sep_process.gif) no-repeat; line-height:33px;}
.step_process li a{ padding:0; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d5739; font-weight:bold; text-decoration:none;}
.step_process li a:hover{color:#000000; text-decoration:none;}
.step_process li.sepprocess_none{ background-image:none;}
.step_process li a.active_process_link{ color:#062301; text-decoration:underline;}
.numbering_img{ background:url(../images/number_bg.gif) no-repeat; width:36px; height:39px; margin:8px 0 0 15px; float:left; display:inline;}
.numbering_list{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#199244; font-weight:bold; padding:8px 0 0 13px;}
.subheading{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#0c6d2e; font-weight:bold; float:left; padding:18px 0 0 10px;}
.formContent {float:left; margin:5px 0 0 18px; width:928px; border:solid 1px #eae8e8; display:inline; border-bottom:none;}
.redLbl {color:#F00;}
.formContent .lblName {width:180px;font:normal 12px Arial, Helvetica, sans-serif;color:#555;float:left;margin:3px 0px; text-align:right; padding:0 15px 0 0;}
.formContent .lblField {width:285px;font:normal 12px Arial, Helvetica, sans-serif;color:#555;float:left;margin:3px 0px;}
.formContent .lblField input, .formContent .lblField select, .formContent .lblField textarea {font:normal 11px Arial, Helvetica, sans-serif;color:#555;}
.width200 {width:261px; background:url(../images/input_bg.gif) repeat-x; height:22px; border:solid 1px #c3bcbc;}
.pdLeft10 {padding-left:10px!important;}
.form_bottom_bg{ background:url(../images/form_bottom_bg.gif) repeat-x; height:6px; width:928px; margin:0 0 0 18px; background-position:top;}
.width200_area {width:261px; background:url(../images/input_bg.gif) repeat-x; height:22px; border:solid 1px #c3bcbc; height:61px;}
.btnArea {clear:both;margin-bottom:0;margin-left:auto;margin-right:auto;margin-top:0;padding-bottom:10px;padding-left:0;padding-right:0;padding-top:10px;text-align:center;width:928px;}
.btnArea input { background:url(../images/btn_bg.gif) repeat-x; height:27px; border:solid 2px #177839; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; cursor:pointer; color:#FFFFFF;}
.footer{ background:url(../images/footer_bg.gif) repeat-x; height:45px; width:960px; margin:0 auto;}
.copyright_info{ float:left; font-size:11px; color:#ffffff; padding:17px 0 0 15px;}
.swlogo{ float:right; padding:0 15px 0 0;}
.msg_info{ float:left; font-size:11px; margin:7px 0 0 0; color:#555555;}
.tickmark{ padding:0 8px 0 0; float:left;}
.error_msg{font-size:11px;color:#FF0000; float:left; margin:7px 0 0 0;}
.crossmark{padding:0 8px 0 0; float:left;}
.subtitle{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#0c6d2e; font-weight:bold; float:left; padding:0 0 5px 5px; width:946px; background:url(../images/subtitle_bg.gif) no-repeat; height:20px;}
.new_btn { background:url(../images/btn_bg.gif) repeat-x; height:27px; border:solid 1px #177839; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; cursor:pointer; color:#FFFFFF;}
.error{font-size:11px;color:#FF0000;margin:7px 0 0 0;}
