/* Selectmenu
----------------------------------*/

.tableHolder
{
	width:100%;
	float:left;
	margin:10px 0;
	border-left:1px solid #bbb;
	border-top:1px solid #bbb;
}
.tableHolder input[type="text"]
{
	float:none;
	height:20px;
	
}
.tableHolder table
{
	width:100%;
	float:left;
}
.tableHolder td{
border-right:1px solid #bbb;
border-bottom:1px solid #bbb;
}
	
.tableHolder td:first-child , .tableHolder th:first-child
{
	}
.tableHolder thead
{	

	margin-bottom:2px;
	color:#373737;

}
.tableHolder th
{
	text-align:left;
	padding:0 5px;
	border-right:1px solid #bbb;
	border-bottom:1px solid #bbb;
	
/*	text-indent:5px;*/
}
.copy_txt{ padding-top:50px;}

.pos_logo{position:absolute; top:50px;}

.total{float:right!important; text-align:right!important;} /*Bug : FS#34749*/
#copyrightInfo{clear:both;}
.userId, #versignLogo, #thenav, .blueBtn, #wrapFoot{ display:none;}
#content{ font-family:Arial, Helvetica, sans-serif;}
.print_table, .print_table tr td, .print_table tr th{ border:solid 1px #000000;}
#address .merchant {
    float: left;
    margin: 0 0 20px 145px;
    width: 30%;
}
#address .customer {
    float: left;
    width: 40%;
}

/**/

/* for invoice report print on 10 Aug 2012*/

.TableForm { margin-bottom: 10px}
.TableForm table { border-top:solid 1px #000000 !important; width: 100%}
.TableForm table tr {background:#ededed; }
.TableForm table td{ background:#ededed; border-right:solid 1px #fff; border-bottom:solid 1px #fff; padding:5px; vertical-align:middle;font-size: 10px}
.TableForm table th { border-right:solid 1px #fff; border-bottom:solid 1px #fff; padding:5px; vertical-align:middle; text-align:left; background:#dbdada;font-size: 10px}
.pgTitle h2 {font-size:10px}