/*
Default CSS for SW Global, http://swglobal.com
Date: 06.11.2009
Developer: Calie Boateng, cboateng@swglobal.com
*/
html 				{ /*height: 100%;*/}
body 				{ background: #D8D8D8; font: normal 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; padding: 0px; margin: 0px; height:100% }
images 				{ border: 0px solid #000CCC;}
H1 					{ padding:0; margin: 0px; }
H2					{ font-size: 18px; color: #2781CA; font-weight: normal; margin: 0px; padding: 0px; }
H3 					{ font-size: 19px; color: #004684; padding: 4px 0 8px 0; font-weight: normal; margin: 0px;}
H4 					{ font-size: 22px; color: #004684; padding: 4px 0 8px 0; font-weight: normal; margin: 0px;	float: left;}
H5 					{ font-size: 14px; text-decoration: none; margin: 0px; font-weight: normal; }
H6 					{ text-decoration: none; padding: 0px; margin: 0px;}
P 					{ text-decoration: none; margin: 0px; padding: 0px;}

input, label, div, ul , form		{ margin: 0px; padding: 0px;  font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; font-size:12px}

a 					{ color: #E01924; text-decoration: none;}
a:hover 			{ color: #E01924; text-decoration: underline;}
.clear_new, .clearfix { clear: both; font-size:1%; height:1%; line-height:1%}
.print 				{ font-size: 11px; color: #999; text-decoration: none; background: url(../images/ico_print.png) no-repeat 1px; float: right; width: auto; padding: 2px 2px 2px 20px; }
.more 				{ font-size: 10px; color: #E71E34; text-decoration: none; line-height: 18px; text-transform: uppercase; background: url(../images/ico_readmore.png) no-repeat 60px 3px;}
.more a 			{ font-size: 10px; color: #E71E34; text-decoration: none;}
.more a:hover		{ font-size: 10px; color: #E71E34; text-decoration: underline;}
.txthighlightGrey 	{ color: #999; }
#main 				{ width: 900px; margin-top: 10px; margin-right: auto; margin-left: auto; padding: 1px; overflow:hidden}
#main #curvetop		{ width: 900px; background: url(../images/sprite.png) no-repeat 0px -600px; height: 10px;}
#main #curvebottom	{ width: 900px;	background: url(../images/sprite.png) no-repeat 0px -624px;	height: 10px;}
#divider 			{ width: 10px; float: left;}
#wrapper 			{ width: 880px; border: 0px solid #C3C3C3; background-color: #FFF; padding-top: 5px; padding:0 10px 5px 10px}
#wrapMid 			{ padding: 2px 0;}
#wrapFoot 			{ padding: 6px 0 0 0 ; border-top: 1px solid #E3E3E3; font-size: 11px;	color: #666; text-decoration: none;}
#wrapFoot img		{ float:right;}
#wrapperLeft 		{ width: 610px; background: #FFF; float: left; padding: 5px 0 0 0; margin-right: 0px;}
#wrapperRight 		{ width: 259px; background: #FFF; float: right; padding: 5px 0 0 5px}
#wrapperInnerLeft 	{ width: 259px; background: #FFF; float: left; padding: 5px 0;}
#wrapperInnerRight 	{ width: 600px; background-color: #FFF; float: left; padding: 5px 0 5px 10px; margin-right: 0px; color: #333;}
#wrapperInnerRight h3{ font-size: 20px; font-weight: normal; color: #19658F; padding-bottom: 2px;}
#wrapperInnerRight strong{ font-size: 14px; font-weight: normal; color: #E01924; padding-bottom: 2px;}
#wrapNav 			{ background: #FFF; padding: 10px 1px 5px 1px; height:31px; }
#thetop 			{ padding: 0px; /*background: url(../images/top_bg.png) no-repeat;*/ }
#thenav 			{ background: url(../images/nav_bg.gif) repeat-x; height: 26px; width:100%; float: left;padding:7px 0 5px 0; }
#theLogo 			{ float: left; width: 166px; }
#versignLogo 		{ float: right; line-height:11px; padding-top:10px;}
#versignLogo img	{ float:left; margin-right:5px;}
#innerimages 		{ height: 242px; width: 600px; margin-bottom: 10px; }
#copyrightInfo 		{ font-size: 11px; color: #666; }
#loginArea 			{ background: url(../images/sprite.png) no-repeat 0 0; height: 194px; width: 239px; float: left;  padding: 10px; margin-bottom: 10px;}
#loginArea h2		{ font-size: 14px; font-weight: normal; color: #FFF; padding-bottom: 10px; padding-left: 10px;}
#loginArea h3		{ font-size: 20px; font-weight: normal; color: #FFF; padding-bottom: 2px; padding-left: 10px;}
#loginArea .labeltxt{ font-size: 11px; font-weight: normal; color: #FFF; padding: 1px 1px 1px 10px;}
#loginArea .field	{ font-size: 11px; font-weight: normal; color: #333; padding: 5px; background: url(../images/txtfield_bg.gif) no-repeat #fff; width: 210px; border: 1px none #FFF; height: 18px;}
#loginArea .submit	{ font-size: 11px; font-weight: normal; color: #FFF; padding: 7px; border: 1px none #FFF; background: #0087C9;	margin-top: 5px;}
#loginArea .fieldwrap{ font-size: 11px; font-weight: normal; color: #FFF; padding: 1px 1px 1px 10px; line-height: 14px;}
#merchantLogin 		{ padding: 1px;/* color: #FFF;*/ font-size: 11px; min-height:255px}
#merchantLogin h2	{ font-size: 14px; font-weight: normal; color: #FFF; padding: 10px 0px;}
#merchantLogin h3	{ font-size:18px; font-weight: normal; color: #2b6ba8; margin:10px 0;}
#merchantLogin .labeltxt{ font-size: 11px; font-weight: normal; color: #FFF; float: left; width: 112px; padding: 1px 1px 1px 3px;}
#merchantLogin .field{ font-size: 11px; font-weight: normal; color: #333; padding: 5px; background: url(../images/txtfield_bg.gif) no-repeat #fff;	width: 100px; border: 1px none #FFF; height: 18px;}

#merchantLogin .fieldwrap{ font-size: 11px; font-weight: normal; color: #FFF; padding: 1px 1px  6px 4px;line-height: 14px; float: left;	width: 110px; }
#merchantLogin .buttonwrap{ font-size: 11px; font-weight: normal; color: #FFF; padding: 1px 1px  6px 4px; line-height: 14px; float: left; width: 55px; }
#merchantLogin .helpwrap{ font-size: 11px; font-weight: normal; color: #FFF; padding: 10px 1px 1px 4px;	line-height: 14px; 	float: left; width: 153px;}
.login_h3{color:#afe4fe!important;font-size: 24px!important;}
#merchantLogin a	{ color: #FFFFFF!important; text-decoration: none;}
#merchantLogin a:hover{ color: #FFFFFF!important; text-decoration: underline;}
#merchantArea 		{ background: url(../images/sprite.png) no-repeat 0px -214px; height: 190px; width: 235px; float: left; margin-bottom: 10px; color: #FFF; padding: 12px;}
#merchantArea h3 	{ color: #FFF; text-decoration: none; margin: 0px; padding: 0px; font-size: 24px; }
#merchantArea .list { padding-bottom: 3px; background: url(../images/ico_featureslist.png) no-repeat 2px 6px; padding: 3px 3px 0 18px;}
.smallShowcase 		{ background: url(../images/sprite.png) no-repeat 0px -430px; height: 80px; width: 239px; float: left; padding: 10px; margin-bottom: 10px;}
.redShowcase 		{ width: 259px; float: left; margin-bottom: 10px; }
.redShowcase .top	{ background-image: url(../images/sprite.png); height: 10px; background-position: 0px -215px; background-repeat: no-repeat;	width: 259px; overflow:hidden}
.redShowcase .middle{ background: #E00724; padding:5px 12px 10px 12px; min-height:165px;  *min-height:175px}
.redShowcase .middle h3{ font-size: 24px; color: #FFF; text-decoration: none; margin: 0px; padding: 0px;}
.redShowcase .middle .list{background: url(../images/ico_featureslist.png) no-repeat 0px 6px; padding:3px 0 4px 16px; color: #FFF;}
.redShowcase .bottom{ background-image: url(../images/sprite.png); height: 10px; background-position: 0px -239px; background-repeat: no-repeat;	width: 260px; overflow:hidden}

.blueShowcase { width: 259px; float: left; margin-bottom:10px; }
.blueShowcase .top{ background: url(../images/sprite.png) 0px -326px no-repeat; height: 10px; width: 259px;}
.blueShowcase .middle{ background: #19658F; padding:5px 12px;}
.blueShowcase .middle h3{ font-size: 24px; color: #FFF; text-decoration: none; margin: 0px; padding: 0px;}
.blueShowcase .middle .list{ background: url(../images/sprite.png) no-repeat 4px -251px; padding:3px 3px 3px 17px;color: #FFF;}
.blueShowcase .bottom{ background: url(../images/sprite.png) 0px -350px no-repeat; height: 10px; width: 260px; overflow:hidden}
.largeShowcase { width: 300px; float: left; padding: 1px 0px; }
.largeShowcase .top{ background: url(../images/sprite.png) 0px -530px no-repeat; height: 10px ; width: 300px;}
.largeShowcase .middle{ background-color: #EEE; padding:5px 8px;}
.largeShowcase .middle h3{ font-size: 24px; color: #E01924; text-decoration: none; margin: 0px; padding: 0px;}
.largeShowcase .middle .list{ padding:6px 3px 6px 18px; background: url(../images/ico_list.png) no-repeat 4px 8px;}
.largeShowcase .bottom{ background: url(../images/sprite.png) 0px -560px no-repeat;  height: 10px;width: 300px; overflow:hidden}
.subnavShowcase { width: 259px; float: left; margin-bottom: 10px; }
.subnavShowcase .top{ background-image: url(../images/sprite.png); height: 10px; background-position: 0px -430px; background-repeat: no-repeat; width: 259px; overflow:hidden}
.subnavShowcase .middle{ background-color: #EEEEEE; padding:5px 12px 0px 12px;}
.subnavShowcase .middle h3{ font-size: 24px; color: #E01924; text-decoration: none; margin: 0px; padding: 0px;}
.subnavShowcase .middle .list{ padding-bottom: 4px; background-image: url(../images/sprite.png); padding-top: 4px; padding-left: 12px;	background-repeat: no-repeat; background-position: 0px -250px; color: #FFF;}
.subnavShowcase .bottom{ background-image: url(../images/sprite.png); height: 10px; background-position: 0px -520px;	background-repeat: no-repeat; width: 260px; overflow:hidden;}

.registerShowcase {	width: 259px; float: left; margin-bottom: 20px; margin-top:10px;}
.registerShowcase .top{
	background-image: url(../images/sprite.png);
	height: 10px;
	background-position: 0px -430px;
	background-repeat: no-repeat;
	width: 259px;
}
.registerShowcase .middle{ background: #EEEEEE; padding:5px 12px 0 12px;}
.registerShowcase .middle h3{
	font-size: 24px;
	color: #E01924;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.registerShowcase .middle .list{
	padding-bottom: 4px;
	background-image: url(../images/ico_featureslist.png);
	padding-top: 4px;
	padding-left: 17px;
	background-repeat: no-repeat;
	background-position: 0px 6px;
	color: #19658F;
}
.registerShowcase .bottom{ background-image: url(../images/sprite.png); height: 10px; background-position: 0px -520px; background-repeat: no-repeat; width: 260px; overflow:hidden}
.subnavA {
	position: relative;
}
.subnavA ul {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Lucida Sans Unicode", "Trebuchet MS", Tahoma;
	LIST-STYLE-TYPE: circle
}
.subnavA li {
	MARGIN: 2px 0px 0px
}
.subnavA a {
	DISPLAY: block;
	TEXT-DECORATION: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 8px;
	padding-left: 18px;
	font-size: 11px;
	color: #19658F;
	background-image: url(../images/ico_subnav.png);
	background-repeat: no-repeat;
	background-position: 0px 10px;
}
.subnavA a.sub {
	DISPLAY: block;
	TEXT-DECORATION: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 8px;
	padding-left: 26px;
	font-size: 11px;
	color: #F00;
}
.subnavA a:hover {
	COLOR: #E01924;
	BACKGROUND-COLOR: #E3E3E3;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
	text-decoration: none;
}
#secnav {
	float: none;
	list-style: none;
	line-height: 1em;
	color: #194E76;
	background-color: transparent;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
}

#secnav li {
	float: left;
	padding: 0;
}
#secnav a {
	text-decoration: none;
	display: block;
	color: #046A9E;
	font-size: 12px;
	font-weight: normal;
	padding-top: 1px;
	padding-right: 12px;
	padding-bottom: 1px;
	padding-left: 12px;
	margin-top: 11px;
}
#secnav a.end {
	text-align: center;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #999;
}
#secnav a.home {
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #666;
	padding-top: 8px;
	padding-bottom: 8px;
}
#secnav li:hover a {
	color: #E71E34;
	text-decoration: none;
}
#footnav 			{ float: none; list-style: none; line-height: 1em; color: #194E76; background-color: transparent;	padding: 0;margin: 0;}
#footnav li 		{ float: left; padding: 0;}
#footnav a 			{ text-decoration: none; display: block; color: #046A9E; font-size: 11px; padding:1px 4px 1px 0px; margin:2px 4px 0 0 ;border-right: 1px solid  #CCC;}
#footnav a.end {
	text-align: center;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #999;
}
#footnav a.home {
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #666;
	padding-top: 8px;
	padding-bottom: 8px;
}
#footnav li:hover a {
	color: #E71E34;
	text-decoration: none;
}
#topnav {
	float: none;
	list-style: none;
	line-height: 1em;
	color: #194E76;
	background-color: transparent;
	margin: 0 0 0 5px ;
	padding: 0;
}

#topnav li {
	float: left;
	padding: 0;
}
#topnav a {
	text-decoration: none;
	display: block;
	color: #333;
	margin: 0px;
	font-size: 12px;
	font-weight: normal;
	padding-top: 5px;
	padding-right: 23px;
	padding-bottom: 5px;
	padding-left: 24px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #D6D6D6;
}
#topnav a.end {
	text-align: center;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #999;
}
#topnav a.home {
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #666;
	padding-top: 8px;
	padding-bottom: 8px;
}
li.active a, .MenuSelected, #topnav li:hover a {
	color: #333;
	text-decoration: none;
	background-color: #dedcdc;
}
#slides {
	height: 242px;
	width: 610px;
	float: left;
	margin-bottom: 0px;
}
#slideControl
{
	text-align:right;
	float: right;
	font-size: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}
#slideControl a
{
	color:#FFFFFF;
	text-transform:uppercase;
	text-decoration:none;
	margin-left:3px;
	height: 1px;
	padding-top: 0;
	padding-right: 2px;
	padding-bottom: 0;
	padding-left: 2px;
	background-color: #18658F;
	font-size: 7px;
}

#slideControl a.active
{
	background-color: #E71E34;
}

#slideControl a span
{
	visibility:hidden;
}

#navigation
{
	position:absolute;
	width:560px;
	top:74px;
	z-index:10;
	visibility: hidden;
}

#navigation a
{
	padding:4px;
	background:#d60c62;
	color:#FFFFFF;
	text-transform:uppercase;
	text-decoration:none;
}

#navigation a:hover
{
  background:#cc0035;
}

#navigation a.sexyslider-prev
{
  float:left;
}

#navigation a.sexyslider-next
{
  float:right;
}
.faqstxt {
	padding: 1px;
}
.faqstxt-wrap {
	padding-top: 5px;
	padding-right: 1px;
	padding-bottom: 15px;
	padding-left: 1px;
}
.faqstxt-wrap li{
	margin-left: 15px;
	color: #666;
}
.faqstxt .question{
	font-size: 14px;
	color: #E01924;
	text-decoration: none;
	line-height: 18px;
}
.faqstxt .answer{
	font-size: 12px;
	color: #666;
	text-decoration: none;
	margin-left: 25px;
}
.feedbackForm {
	background-color: #F9F7F8;
	padding: 10px;
}
.feedbackForm .header{
	background-color: #D6D6D6;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 13px;
}
.feedbackForm .required{
	color: #F00;
}
.feedbackForm .fieldName{
	float: left;
	width: 110px;
	padding: 10px;
	color: #666;
}
.feedbackForm .fieldWrap{
	padding: 10px;
	float: left;
	width: 430px;
}
.feedbackForm .txtfield{
	padding: 5px;
	width: 427px;
	border: 1px solid #E7DEE2;
	font-size: 12px;
	color: #333;
	text-decoration: none;
}
.feedbackForm .button{
	padding: 5px;
	border: 1px solid #E7DEE2;
	font-size: 12px;
	color: #333;
	text-decoration: none;
	background-color: #D6D6D6;
}
.bullet_list{ list-style-type:disc!important; padding-left:25px;}
.data_grid									{ font-family:Arial, Helvetica, sans-serif; border:solid 1px #b5b5b5; border-right:none;}
.data_grid tr th							{ font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:5px; border-right:solid 1px #b5b5b5; background-color:#e7e5e5;}
.data_grid tr td							{ font-size:12px; padding:5px; border-top:solid 1px #b5b5b5; border-right:solid 1px #b5b5b5;}
.data_grid tr.odd							{ background-color:#f3f2f2;}
.data_grid tr.even							{ background-color:#ffffff;}
.data_grid tr.odd:hover						{ background:#b4b4b4; color:#ffffff;}
.data_grid tr.even:hover					{ background:#b4b4b4; color:#ffffff;}
.label_name{ font-weight:bold;}
.highlight_area{ border:solid 1px #ccc; background-color:#f2f2f2; padding:15px 0 15px 15px; text-align: center;}

.success-msg{background-color:#f8eb8b; width:845px; padding:15px; margin:1px auto;border:#837c44 dotted 1px; color:#000; text-align: center; font-weight:bold; font-size:16px;}
.big-text{ color:#005382; font-size:13px;}
.big-text span { margin-left:}
.spacer {margin-top:20px;margin-bottom:30px!important;} 


/**************************************** */

.FormInput1			{ width:150px; padding:2px; border:solid 1px #04acff; height:15px; background:#efefef; _ width:140px;}
.FormInput2			{ border:solid 1px #ccc; display: block; float: left; font-size: 12px; margin-left: -5px;  min-height: 30px; padding: 3px;  width: 300px; height:30px;  line-height:29px; font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif !important; font-size:12px !important; !padding-left:10px;}
.Select2			{ width:310px !important; border:solid 1px #B1B1B2; display: block; float: left; font-size: 12px; margin-left: -1px;  min-height: 30px; padding: 3px; height:30px;  line-height:29px; font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif !important; font-size:12px !important; _padding:5px 0}
.password			{ float:left; margin:10px 8px}
.submit				{ font-size: 11px; background: #0087C9;  /*min-width:60px;*/ border:solid 1px #04acff; margin:5px 0; padding:5px; float:left ; color:#fff; overflow:visible; width:auto;}
.submit2				{ font-size: 11px; background: #0087C9;  /*min-width:60px;*/ border:solid 1px #04acff; margin:5px 0; padding:5px; float:left ; color:#fff; width:65px;}
.tmzInfo			{ display:block; padding:5px 0 }
.tmzInfo span		{ background:#19658f; color:#fff; padding:0 5px;}
.Sap				{ border-top: dotted 1px #333; margin:10px 0}
.Info2				{ color:#19658f; font-weight:bold; text-align:center;  line-height:21px}

#Formwraper			{ float:left; width:100%; margin:5px 0}
.FormRepeatArea		{ /*position:relative; */width:100%; height:45px;}
.FormLabel			{ height:36px; width: 210px; /*position:absolute; left:0;*/ float:left; background: url(../images/label.jpg) center bottom repeat-x;border: 1px solid #ccc;}
.FormLabel label	{ line-height:30px !important;}
.FromInputLabel		{ height:40px; width:361px; float:left; margin-left:-10px;}
.FromInputLabe2, .FromInputLabe5{ height:40px; width:665px; float:left; /*margin-left:-1px; */ }
.FromInputLabe3		{ height:40px; width:360px; float:left; margin-left:-1px; }
.FromInputLabe2	.calBtn	{ float:left; margin-left:0px; width:30px; height:30px; z-index:1; background:url(../images/clendarorange.png) no-repeat; border:none; right:-5px;}
.FromInputLabe3 .FormInput2{border:solid 1px #B1B1B2; display: block; float: left; font-size: 12px; /*margin-left: -5px;*/  min-height: 30px; padding: 3px;  width: 300px; height:30px;  line-height:29px; font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif !important; font-size:12px !important}
.FromInputLabe2 span.error, .error_list { color:red; display:block; float:left; width:300px; margin-left: 5px;}
.FromInputLabe2 label { }
.FromInputLabe2 label.error	{ height:35px; width:200px; line-height:15px !important; text-align:left !important; font-size:11px; font-weight:normal !important; float:left; }


.FromInputLabe7{ height:40px; width:610px; *width:495px; float:left; /*margin-left:-1px; */ }
.FromInputLabe7	.calBtn	{ float:left; margin-left:0px; width:30px; height:30px; z-index:1; background:url(../images/clendarorange.png) no-repeat; border:none; right:-5px;}
.FromInputLabe7 span.error { color:red; display:block; float:left; width:300px; margin-left: 5px;}
.FromInputLabe7 label.error	{ height:35px; width:200px; line-height:15px !important; text-align:left !important; font-size:11px; font-weight:normal !important; float:left; }
.FormLabel7			{ height:36px; width: 100px; *width: 100px !important; /*position:absolute; left:0;*/ float:left; background: url(../images/label.jpg) center bottom repeat-x;border: 1px solid #ccc; text-align: right}
.FormLabel7 label	{ line-height:30px !important; text-align: right}
.FormInput7			{ border:solid 1px #ccc; display: block; float: left; font-size: 12px; margin-left: -5px;  min-height: 30px; padding: 3px;  width: 250px; height:30px;  line-height:29px; font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif !important; font-size:12px !important; !padding-left:10px;}
.FromInputLabe4 { height:40px; width:665px; float:left; /*margin-left:-1px; */ position:relative }
.FromInputLabe4 span.error, .error_list { color:#ff0000; display:block; float:left; width:300px; margin-left:5px;}
.FromInputLabe4 label { }
.FromInputLabe4 label.error	{ height:35px; width:200px; line-height:15px !important; text-align:left !important; font-size:11px; font-weight:normal !important; float:left; position:absolute; left:310px; *left:313px!important; left:306px\9; top:5px}




.FormError			{ height:35px; width:100px; line-height:15px !important; float:left; border:solid 1px red;}
.FormError div.error{ height:35px; width:200px; line-height:17px !important; color:red; padding:0 !important; z-index:2; border:solid 1px red;}
.FormLabel label { text-align:right !important; display:block}
.FromInputLabe5	.FormInput1	{ border: 1px solid #B1B1B2 !important; display: block; float: left;  font-size: 14px;  padding: 3px;  width: 300px; height:30px; margin-left:0px !important; line-height:29px; font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; font-size:12px}

.txtRightAlign	{ text-align:right !important; line-height:30px}
.NewHgLabel		{ float:left; width:205px; text-align:right; border:solid 1px #ccc; padding-right:5px; background:url("../images/label.jpg") repeat-x scroll center bottom transparent}
.Nwradio		{ float:left; height:auto; width:100%}
span.redLbl		{ color:red; font-weight:normal;}
table.thAlRigth th { text-align:right;}
.nofoList           { text-align: right; padding-bottom: 5px; color:#19658F; float: left; width: 100%;}
.jquery-selectbox {
	position: relative;
	height: 16px;
	border: 1px solid #ccc;
	z-index: 9;
	float: left;
	display: inline;
	margin: 0px 4px 0px 0;
	font-size: 9px;
	color: #444;
	padding: 0;
	width:305px !important;
	*width:312px !important;
	padding:10px 0;
	z-index:999;
	_padding:8px 0 7px 0;
}
.jquery-selectbox.selecthover {
	/*border-color: #9F7627;
	background-color: #FFFCDF;
	background-image: url("../images/bg-TextFieldFocused.gif");
	z-index: 700;*/
}	
.jquery-selectbox .jquery-selectbox-currentItem {
	padding: 3px 0px 0px 3px;
	white-space: nowrap;
	display: block;
	overflow: hidden;
	
	
}

.jquery-selectbox .jquery-selectbox-list {
	display: none;
	position: absolute;
	top: 37px;
	/*padding: 2px;*/
	left: 0px;
	background: #fff;
	width: 300px;
	height: 120px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1000;
	border: 1px solid #ccc;
	z-index:999999;
	cursor:pointer;

	
}
.jquery-selectbox .jquery-selectbox-moreButton {
	/*
	position: absolute;
	top: 0px;
	right: 0px;
	*/
	float: right;
	background: url("../images/lay-selectMoreButton.gif");
	width: 16px;
	height: 20px;
	cursor: pointer;
	margin-right:5px;
	}

/*.jquery-custom-selectboxes-replaced  {

	cursor:pointer;
	}*/
	
	
	
.jquery-selectbox .jquery-selectbox-moreButton.morebuttonhover {
	/*background: url("../img/lay-selectMoreButtonHover.gif");*/
}

.jquery-selectbox .jquery-selectbox-item.listelementhover {
	background: #ccc;
	color: #333;
}
.jquery-selectbox .jquery-selectbox-item {
	display: block;
	cursor: default;
}

/** ERROR classes **/
form .error .jquery-selectbox {
	color: #d00;
	border-color: #d00;
	background-image: url("../img/bg-TextFieldError.gif");
}

tr.border-bottom td{border:none; border-top:1px solid #ccc; background:#eef5fd;}
tr.border-bottom b{color:#19658F;}
.sign{position:absolute; margin-top:-5px; color:#19658F;}
.msg_ul{ width: 365px; margin: auto;}
.msg_ul li{ list-style-type: square; text-align:left;}
.search_text{float:left; width: 88px; height:17px;}
.search_btn{color:#000!important; font-weight: normal!important;float:left;}
.total_txt{float:left; color:#0087C9;}
.download_link{float:right; margin-right:20px;}
.download_link a{color:#1122cc; text-decoration: underline;}
.error_serverside{
background:#df001f none repeat scroll 0 0;
padding:10px; text-align: center; margin:0px auto 10px auto; color:#fff; clear:left }
.form-row{font-size:12px; color:#5F5F5F; text-align:right;}
.redLbl{margin-right:5px;}
.form-width{!width:206px; _width:206px; *width:206px; width:206px\9;}
.select-width{height:38px!important; margin-left:-5px!important;}


.margin_0{margin:0px;}
.margin_0 .check{ }
.inputTxt{width:125px;}
/*.checkbox-div{float:left;}
.checkbox-div .check{ margin-right:10px; padding:0!important;}
.checkbox-div .check input{margin-right:2px!important;}*/

/*Varun : FS#34743 */
.userId						{ float:right; } 
.blueBtn
{
	background:url(../images/blueBtnBg.png) repeat-x 0px 0px;
	border:none;
/*	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;*/
	font-size:16px;
	padding-left:10px;
	padding-right:10px;
         font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif !important; font-size:12px !important;
        float:left;
		color:#fff;
}
.green							{color: #336600;}
.hyperlink a, .label_name .hyperlink a		{ text-decoration:underline!important;color:#666666!important;}
.hyperlinksuccess a, .label_name .hyperlink a		{ text-decoration:underline!important;color:#336600!important;}
.hyperlinkerror a, .label_name .hyperlink a		{ text-decoration:underline!important;color:red!important;}


/****************** 16-05-2012 ******************************/
.whyUs { width:100%;}
.whyUs .top{ background: url(../images/sprite.png) 0px -646px no-repeat  !important; height: 10px ; width: 610px;}
.whyUs .middle{ background-color: #EEE; padding:5px 8px;}
.whyUs .middle h3{ font-size: 24px; color: #E01924; text-decoration: none; margin: 0px; padding: 0px;}
.whyUs .bottom{ background: url(../images/sprite.png) 0px -736px no-repeat !important;  height: 10px; width:610px; overflow:hidden}
.right { float:right; clear:left}
.pdR10 {padding-right:20px}
.margR10 { margin-right:10px}
.largeShowcase .middle .listNew {
    background: url("../images/ico_list.png") no-repeat scroll 4px 4px transparent;
    padding: 4px 3px 5px 18px;}

.redLbl		{ color:red; font-weight:normal;}
.MrgT15		{ margin-top:15px}
.Yellow 		{color:yellow}

.inputTxt2 {
    width: 111px;
}
.submit23 { background-color: #C1192B;
  border:solid 1px #8B0C18; 
    color: #FFFFFF;
    font-size: 11px;s
    font-weight: normal;
    margin-top: 5px;
    padding: 4px 10px; height:35px}

.pagenation { float: right;  min-width: 80px}
.pagenation a, .pagenation span { float: left; margin:2px}
.mainLogin 		{ color: #FFF !important;}