/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
@font-face {
	font-family:din;
	/*src: url('../fonts/din.TTF'); */
	font-weight:bold;
	}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfixnew:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

html , body
{
	background:url(../images/noiseBg.jpg) top left repeat;
	font-family:Helvetica, Tahoma,Arial, sans-serif;
	font-size:12px;
	color:#282828;
	line-height:18px;
	color:#5f5f5f;
	/*text-shadow:#FFF 0px 1px 0px;*/
}
/*a
{
	color:#2b6ba8;
	text-decoration:none;
}
*/a:hover
{
	color:#2b6ba8;
}
p
{
	font-family:Helvetica, Tahoma,Arial, sans-serif;
}
h1
{
	
	
}
h2, h1, h3, h4, h5 , h6
{
	font-family: din, Helvetica, Arial, sans-serif;
}
h2
{
		font-family: din, Helvetica, Arial, sans-serif;
		font-size:30px;
		color:#373737;
		line-height:66px;
        font-weight:bold;
}
h3
{
	font-size:14px;
	font-family: din, Helvetica, Arial, sans-serif;
	color:#2b6ba8;
	font-size:18px;
	margin-bottom:10px;
}
h4
{
	font-size:18px;
	margin-bottom:10px;
}
h5
{
}

#wrappernew
{
	/*width:960px;*/
	margin-right:auto;
	margin-left:auto;
}
#header
{
	width:960px;
	margin-bottom:40px;
	padding-top:20px;
}
#header .logo
{
	float:left;
}
#nav
{
		font-family: din, Helvetica, Arial, sans-serif;
		font-size:14px;
		color:#2b6ba8;
		float:right;
		text-transform:capitalize;
}
#nav li
{
	float:left;
	padding:5px;
	margin-left:20px;
}
#tab
{
	float:left;
	border-bottom:10px #cb212e solid;
	width:100%;
	font-family: din, Helvetica, Arial, sans-serif;
}

#tab li
{
	float:left;
	color:#fff;
	/*background:url(../images/blueTab.jpg) repeat-x 0px 0px;*/
	background:#2b6ba8;
	margin-right:2px;
	/*text-shadow:#000 0px 1px 0px;*/
	font-size:14px;
	
/*	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	
	
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;

 -webkit-border-top-right-radius: 5px;
     -webkit-border-top-left-radius: 5px;*/
	
	padding:0px;
	/*
	-webkit-box-shadow:inset 0px 1px 1px  0px  #6b98c2 ;
	 box-shadow: inset  0px   1px 1px 0px #6b98c2;
	-moz-box-shadow:inset  0px   1px  1px 0px #6b98c2;*/


	border:1px solid #2b6ba8;
	border-bottom:none;

}
#tab a
{
	display:block;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	color:#fff;
	text-decoration:none;
    font-weight:bold;
}
#tab .active, #tab li:hover
{
/*	box-shadow: inset  0px   1px 1px   0px  #e5757d;
	-moz-box-shadow:inset  0px   1px 1px  0px  #e5757d;
	-webkit-box-shadow:Inset  0px   1px 1px  0px  #e5757d;*/

	background:#cb212e;
	border:1px solid #cb212e;
	border-bottom:none;
}
#tab .userId
{
	float:right;
	line-height:30px;
	font-family:din, Helvetica, Arial, sans-serif;
	color:#2b6ba8;
}
#tab .userId a
{
	float:none;
	display:inline;
	padding:0px;
	color:#d62330;
}
#pgMenu
{
	background:url(../images/new-hd-bg.gif) no-repeat;
	float:left;
	width:100%;
	height:40px;
    /*border:1px solid #ccc;*/
    margin-bottom:25px; 
	/*border-bottom:0;*/
     color:e01924;
	 margin:5px 0

}
#pgMenu .pgTitle
{
	float:left;
	color:#e01924;
}
#pgMenu .pgTitle h3, .pgTitle h2 
{
	float:left;
	color:#fff;
	padding:10px 0 0 5px;
	font-size:24px;
	line-height:17px;
}



#pgMenu .pgNav li 
{
	float:left;
	border-left:1px solid #a6a6a6;
	/*font-weight:bold;*/
	cursor:pointer;
}
#pgMenu .pgNav a
{
	text-decoration:none;
	color:#252525;
	line-height:32px;
	padding:20px;
	display:block;
	padding-top:0px;
	padding-bottom:0px;
	
}
#pgMenu .pgNav a:hover , #pgMenu .pgNav .current a
{
	/*color:#fff;
	text-shadow:#000 0px 1px 0px;*/
}
#pgMenu .pgNav li:first-child 
{
	/*border-left:none;
	-moz-border-radius-topleft: 20px;
	border-bottom-left-radius: 20px;
	-webkit-border-top-left-radius: 20px;
	
	-moz-border-radius-bottomleft: 20px;
	border-border-bottom-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;*/
}
#pgMenu .pgNav li:last-child 
{
	/*-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;*/
}



#main .sform h3
{
	margin-bottom:10px;
	margin-top:10px;
	clear:both;
}
#main .sform  ul
{
	margin-bottom:40px;
	clear:both;
}
#main   .sform input, #main  .sform textarea ,   #main  .sform .radio , .inputStyle
{
 /* -moz-box-shadow:inset 0px 0px 4px #ababab; 
  -webkit-box-shadow: inset 0px 0px  4px #ababab; 
   box-shadow: inset 0px 0px  4px #ababab;  */
   margin:0px;
   margin-right:10px;
 /*   font-size:14px;
  font-family: Helvetica, Arial , sans-serif;*/
}
#main  .sform ul select 
{
	border:none;
	width:340px;
	margin:0px;
	padding:0px;
}
.inputStyle
{
	display:block;
	float:left;
	text-indent:10px;
	margin-bottom:10px;
	background:#fff;
}

#main .sform textarea , #main  .sform input , #main  .sform select , #main  .sform text , .inputStyle 
{
	/* margin-left:-5px;*/
	font-family:din, Helvetica, Arial, sans-serif;
	font-size:11px;
}
#main  .sform li{ clear:both;}
#main  .sform li .radio
{
	background:#FFF;
	width:360px;
	margin-bottom:10px;
	display:block;
	float:left;
	margin-bottom:10px;
	margin-left:-5px;
	padding-top:10px;
	
	vertical-align:middle;
	text-indent:20px;
}
#main  .sform select  
{
	height:aoto;
	padding:0; 
	margin:0;
	color:#333;
	width:201px;
}
 #main  .sform  input[type="file"]
{
	height:20px;
	/*line-height:20px;
	width:300px;
	border:none;
	margin:0px;
	border:1px solid #ccc;
	background:none;*/
}
 #main  .sform option
{
	padding:5px;
}
#main label				{ /*float:left; */height:30px; line-height:25px; padding:3px;/* font-weight:bold;*/ /*width:200px*/; text-align:right; /*border:1px solid #ccc; color:#373737; */ }

.pMore
{
	margin-top:10px;
}
.rOpt 
{
	margin:0px;
	padding:0px;
	float:left;
}
.rOpt  li
{
	
	display:block;
	margin:0px;
}
#main .sform ul .rOpt ul
{
	margin: 0px;
	margin-top:20px;
	
}
/*.tableHolder
{
	border:1px solid #676767;
	width:100%;
	float:left;
}
.tableHolder input[type="text"]
{
	float:none;
	height:20px;
	border:1px solid #ccc;
}
.tableHolder table
{
	width:100%;
	float:left;
}
.tableHolder td
{
	border-left:1px solid #d9d9d9;
}
.tableHolder td:first-child , .tableHolder th:first-child
{
	border-left:none;
}
.tableHolder thead
{	

	margin-bottom:2px;
	background: #DBDBDB; 

}
.tableHolder th
{
	border-bottom:1px solid #a6a6a6;
	border-left:1px solid #a6a6a6;
	border-bottom:1px solid #a6a6a6;
	line-height:24px;
	background:url(../images/thBg.jpg) repeat-x 0px 0px #fff;
	text-align:left;
	text-indent:5px;
}*/
/**/
.invoiceTb
{
	margin-top:10px;
	margin-bottom:40px;
	float:left;
}
.invoiceTb table
{
	border:1px solid #a6a6a6;
	width:100%;
	margin-bottom:10px;
}
.invoiceTb table td
{
	padding:8px;
}
.invoiceTb table tr input
{
	width:200px;
	line-height:10px;
	height:10px;
   	/*-moz-border-radius: 0px;
	-webkit-border-bottom:0px;
	border-radius:0px;*/
	padding:3px;
}
.invoiceTb table thead th
{
	background:url(../images/thBg.jpg) #ccc;
	line-height:25px;
	border-bottom:1px solid #a6a6a6;
}
.invoiceTb  .onDel  
{
	position:absolute;
	display:block;
	float:left;
}

.total
{
	float:right;
	/*margin-right:60px;*/
}
.total h3
{
	text-align:right;
}
.addBtn  span
{
	color:#373737;
	text-decoration:none;
	background:url(../images/add.png) 3px 0px no-repeat;
	display:block; text-indent:15px;
	height:25px;
}
.test{ background:#F30;}
  .alt  
{
	background:#e9eef5;
}

.tableHolder td
{
	padding:3px;
}

.alert, .tip 
{
	/*margin-bottom:20px;*/
	padding:20px;
	color:#373737;
	cursor:pointer;
	line-height:18px;
}
.error h4 , .alert h4 , .tip h4
{
	font-size:16px;
	margin-bottom:5px;
}
.alert
{
	background:#e0edfa;
	border:1px solid #6ba0d6;
}
.error 
{
	
	/*background-image: none!important;
        border:none!important;
        color:red!important;
        font-weight:normal!important;
        text-align: left!important;*/
}
.tip 
{
	background:#fff0d1 ;
	border:1px solid #d7ab27;
}
 .closeBtn 
{
	float:right;
	margin-right:-30px;
	margin-top:-30px;
}
.searchOption
{
	border:1px solid #676767;
	margin-bottom:1px;
	font-weight:bold;
	font-weight:13px;
	color:#252525;
	padding-top:5px;
	padding-bottom:5px;
	background: #AFCBF3; 
/*
background: -moz-linear-gradient(top, #C0C0C0 0%, #AFAFAF 100%); 

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C0C0C0), color-stop(100%,#AFAFAF)); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C0C0C0', endColorstr='#AFAFAF',GradientType=0 );
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;*/
	line-height:20px;
	float:left;
	width:100%;

}
.searchOption li
{
	float:left;
	margin-left:10px;
	margin-right:10px;
}
.searchOption .search
{
	float:right;
	/*border:1px solid #717171;*/
	height:20px;
	margin-right:5px;
	padding-bottom: 6px;
	/*-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;*/
	background:url(../images/search.jpg) no-repeat 5px center #fff;
	width:150px;
	padding-left:25px;
	
	/*box-shadow: inset  0px   1px  0px 4px #717171 , 0px  2px  0px 0px #dbdbdb;
	-moz-box-shadow: inset  0px   2px  3px  #717171;   
	-webkit-box-shadow:  inset  0px   1px  0px 0px #717171 , 0px  2px  0px 0px #dbdbdb;*/

	
}
 .searchOption   .search .txt
 {
	 height:10px;
	 width:140px;
	 font-size:10px;
	 line-height:10px;
	
	 padding:0px;
	 background:none;
	 min-height:14px;
	}
.searchOption a
{
	color:#252525;
	padding:3px;
	padding-left:10px;
	padding-right:10px;
	/*-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;*/
	text-decoration:none;
}
.searchOption a:hover
{
	background:#9a9a9a;
	color:#FFF;
	/*text-shadow:#636363 0px 1px 0px;*/
}
.searchOption .on a
{
	background:#9a9a9a;
	color:#FFF;
	/*text-shadow:#636363 0px 1px 0px;*/
}
.searchOption .search input
{
	background:none;
	border:none;
	 height:20px;
	 width:120px;
	 font-size:10px;
	 line-height:10px;
	/* box-shadow:inset   0px   1px  2px #fff ;
	-moz-box-shadow:none;
	-webkit-box-shadow:  inset   0px   1px 2px #fff ;*/
	
}
#signInHolder
{
	background:url(../images/signInBg.png) no-repeat center center;
	width:1065px;
	height:621px;
	margin-left:auto;
	margin-right:auto;
}
#signInHolder .wrap
{	width:535px;
	margin-right:auto;
	margin-left:auto;
	margin-top:80px;
}
#signInHolder  .logo
{
	margin-bottom:10px;
	}
	
#signInHolder #signPanel
{
	background:url(../images/signInBg2.png) 0px 0px no-repeat;
	width:535px;
	height:346px;
	padding:20px;
}
#signInHolder #signPanel label
{
	font-family:din, Arial, Helvetica, sans-serif;
	color:#2b6ba8;
	font-weight:bold;
	float:left;
	width:120px;
	text-align:right;
	margin-right:20px;
}
#signInHolder #signPanel li
{
	margin-bottom:10px;
	line-height:35px;
}
#signInHolder #signPanel input[type="text"] , #signInHolder #signPanel input[type="password"]
{
	width:300px;
	font-size:16px;
}
#signInHolder h2
{
	text-align:center;
	font-size:24px;
	margin-bottom:30px;
}
 textarea 
{
	width:360px;
	border:1px solid #b1b1b2;
	height:30px;
	font-size:14px;
	padding:3px;
	border-radius: 5px;
	font-family: Helvetica, Arial , sans-serif;
	color:#000;
	font-size:12px;
	line-height:18px;
}
 textarea
 {
	 height:80px;
 }
 input[type="text"], .radio, input[type="password"] , .inputStyle{
	/*width:360px;
	border:1px solid #b1b1b2;
	min-height:30px;
	padding:3px;
	font-size:14px;
	float:left;
	display:block;*/

}
input[type="text"], select , textarea, .radio, input[type="password"], .inputStyle
{
	/*width:360px;
	border:1px solid #b1b1b2!important;
	min-height:30px;
	padding:3px;
	font-size:14px;
	float:left;
	display:block;
    margin-left: -5px;
*/
}
 .radio
{
	border:1px solid #b1b1b2;
	padding:6px;
}

input[type="button"] , input[type="submit"]
{
	
	color:#FFF;
	font-weight:bold;
	/*height:44px;*/
	display:block;
	cursor:pointer;
	/*padding-right:10px;
	padding-left:10px;*/
}
.blueBtn
{
	background:url(../images/blueBtnBg.png) repeat-x 0px 0px;
	border:none;
/*	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;*/
	font-size:16px;
	padding-left:10px;
	padding-right:10px;
         font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif !important; font-size:12px !important;
        float:left;
		color:#fff;
}
#signInHolder #signPanel .redBtn
{
	background:url(../images/redBtnBg.png) repeat-x 0px 0px;
	border:none;
/*	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;*/
	font-size:16px;
}

#signInHolder #signPanel a
{
	text-decoration:none;
	
	font-weight:bold;
}
.signup  , .signup:hover
{
	background:url(../images/signIn.png) 0px 0px no-repeat;
	height:40px;
	line-height:45px;
	color:#FFF;
	width:100px;
	display:block;
	text-indent:20px;
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	text-shadow:none;
	height:53px;
	width:156px;
	float:right;
	margin-right:18px;
	margin-left:10px;
	
}
.floatRight
{
	float:right;
}
#footer
{
	margin-top:10px;
	width:100%;
	text-align:center;
	padding-top:20px;
	background:url(../images/noiseBg.jpg) repeat 0px 0px;
	height:100px;
	display:block;
	float:left;
}
.reportGraph 
{
	/*width:940px;*/
	height:300px; 
}
.reportGraphHolder	

{
		padding:10px;
		background:url(../images/graphBackground.jpg) bottom repeat-x;
		border:1px solid #CCC;
		/*-moz-border-radius: 10px;
		border-radius:10px;
		-webkit-border-radius: 10px;*/
}
.dashCol_new
{
		
	float:left;
	width:198px;
	background:url(../images/dashCol.jpg) repeat-x ;
	border:1px solid #ccc;
	height:170px;
	padding:5px;
	margin:10px 13px 10px 0}
	.mrgR0						{ margin-right:0 !important}
.userId a, .dashCol_new a { color:#2b6ba8}
.dashCol_new h4
{
	color:#2b6ba8!important;
	border-bottom:1px solid #acacac!important;
	padding-bottom:5px!important;
	line-height:30px!important;
    font-size:18px!important;
	padding-top: 0px!important;
	margin: 0px!important;
	padding-right: 0px!important;
	padding-left: 0px!important;
	float:none!important;
    font-weight:bold!important;

}
.dashCol_new h4 .imgHolder
{
	margin-right:5px!important;
	float:left!important;
	}
.dashCol_new ul
{
	line-height:18px!important;
	padding-left:10px!important;
}
.dashCol_new li
{
	line-height:28px!important;
	background:url(../images/redBullet.jpg) no-repeat 0px 10px!important;
	padding-left:20px!important;
}

.pagination
{
	margin-bottom:10px;
	margin-top:10px;
	float:left;
}

.pagination li
{
	float:left;
	border:1px solid #ccc;
	margin-right:5px;
	padding:5px;
	background:#ececec;
	
		/*-moz-border-radius: 5px;
		border-radius:5px;
		-webkit-border-radius: 5px;*/
}
.pagination .currentPg  ,  .pagination li:hover
{
	border:#7d7d7d  1px solid;
}
.pagination a
{
	padding-left:5px;
	padding-right:5px;
	background:#ececec;
}

#address  .customer
{
	float:left;
}
#address  .merchant
{
	float:right;
	margin-bottom:20px;
}
#address 
{
	/*margin-top:10px;*/
	font-size:12px;
	font-weight:bold;
}
.dialog
{
	position:absolute;
	top:-1000px;
	left:-1000px;
	z-index:2000;
	width:300px;
	background:url(../images/bgalert.jpg) repeat-x 0px 0px #e1e1e1;
	
	/*-moz-border-radius: 5px;
	border-radius:5px;
	-webkit-border-radius: 5px;*/
	padding:10px;
	border:1px solid #ababab;
	
	/*-moz-box-shadow: 0px 0px 30px #000;
-webkit-box-shadow: 0px 0px 30px #000;
box-shadow: 0px 0px 30px #000;*/
}
.dialog input[type="text"]
{
	width:280px;
	margin-bottom:10px;
}
.dialog .blueBtn
{
	float:right;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
}
.dialog .closeBtn
{
	
	margin-right:-25px;
	margin-left:-15px;
}

.calendar_view
{
	background:url(../images/calendar.png) no-repeat center center;
	border:0px;
	/*-moz-border-radius: 0px;
	border-radius: 5px;
	-webkit-border-radius: 0px;*/
	min-height:15px;
}

/*.clear_new{clear:both;}*/

.btn_section{ float:left; margin-left:210px; clear:both; display:inline}
.btn_section a { margin-top:10px; float:left; margin:10px 5px}
#error-msg {float:left!important; position:relative!important;width:325px;}
.error_list li{ color:red; /*margin:10px 0 0 10px;*/ float:left; margin-bottom:2px!important;}
/*.error_serverside{ background-color:#EBDDE2; font-family:Arial; width:360px; padding:10px; text-align: center; margin:0 auto 10px auto; color:red;     -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;}*/

.error_serverside{ 
background:#df001f none repeat scroll 0 0;
padding:10px; text-align: center; margin:0px auto 10px auto; color:#fff; clear:left }

  

  .link{text-decoration: underline; color:#000;}/* show hyperlink in different color and with underline*/
  .rOpt_new label{width:inherit!important;}
  .rOpt_new
{
	margin:0px;
	padding:0px;
	float:left;
}
.rOpt_new  li
{

	display:block;
	margin:0px;
}
#main .sform ul .rOpt_new ul
{
	margin: 0px;
	margin-top:20px;

}
.total_new_table{ background-color:#f2f2f2; border:solid 1px #cccccc; height:80px; padding:10px;}
.redLbl {color:#F00; margin-right:5px;}

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
@font-face {
	font-family:din;
	/* src: url('../fonts/din.TTF'); */
	font-weight:bold;
	}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfixnew:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

html , body
{
	background:url(../images/noiseBg.jpg) top left repeat;
	font-family:Helvetica, Tahoma,Arial, sans-serif;
	font-size:12px;
	color:#282828;
	line-height:18px;
	color:#5f5f5f;
	/*text-shadow:#FFF 0px 1px 0px;*/
}
a
{
	/*color:#2b6ba8;*/
	text-decoration:none;
}
a:hover
{
	color:#2b6ba8;
}
p
{
	font-family:Helvetica, Tahoma,Arial, sans-serif;
}
h1
{
	
	
}
h2, h1, h3, h4, h5 , h6
{
	font-family: din, Helvetica, Arial, sans-serif; 
}
h2
{
		font-family: din, Helvetica, Arial, sans-serif;
		font-size:30px;
		color:#373737;
		line-height:66px;
        font-weight:bold;
}
h3
{
	font-size:14px;
	font-family: din, Helvetica, Arial, sans-serif;
	color:#2b6ba8;
	font-size:18px;
	margin-bottom:10px;
}
h4
{
	font-size:18px;
	margin-bottom:10px;
}
h5
{
}

#wrappernew
{
	/*width:960px;*/
	margin-right:auto;
	margin-left:auto;
}
#header
{
	/*width:960px;*/
	margin-bottom:40px;
	padding-top:20px;
}
#header .logo
{
	float:left;
}
#nav
{
		font-family: din, Helvetica, Arial, sans-serif;
		font-size:14px;
		color:#2b6ba8;
		float:right;
		text-transform:capitalize;
}
#nav li
{
	float:left;
	padding:5px;
	margin-left:20px;
}
#tab
{
	float:left;
	border-bottom:10px #cb212e solid;
	width:100%;
	font-family: din, Helvetica, Arial, sans-serif;
}

#tab li
{
	float:left;
	color:#fff;
	/*background:url(../images/blueTab.jpg) repeat-x 0px 0px;*/
	background:#2b6ba8;
	margin-right:2px;
	/*text-shadow:#000 0px 1px 0px;*/
	font-size:14px;
	
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	
	
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
 /* FF1+ */
 -webkit-border-top-right-radius: 5px;/* Saf3-4, iOS 1+, Android 1.5+ */
     -webkit-border-top-left-radius: 5px;
	
	padding:0px;
	
	-webkit-box-shadow:inset 0px 1px 1px  0px  #6b98c2 ;
	 box-shadow: inset  0px   1px 1px 0px #6b98c2;
	-moz-box-shadow:inset  0px   1px  1px 0px #6b98c2;


	border:1px solid #2b6ba8;
	border-bottom:none;

}
#tab a
{
	display:block;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	color:#fff;
	text-decoration:none;
    font-weight:bold;
}
#tab .active, #tab li:hover
{
	box-shadow: inset  0px   1px 1px   0px  #e5757d;
	-moz-box-shadow:inset  0px   1px 1px  0px  #e5757d;
	-webkit-box-shadow:Inset  0px   1px 1px  0px  #e5757d;

	background:#cb212e;
	border:1px solid #cb212e;
	border-bottom:none;
}
#tab .userId
{
	float:right;
	line-height:30px;
	font-family:din, Helvetica, Arial, sans-serif;
	color:#2b6ba8;
}
#tab .userId a
{
	float:none;
	display:inline;
	padding:0px;
	color:#d62330;
}
#pgMenu .pgTitle
{
	float:left;
	padding:0 10px;
}
#pgMenu .pgNav
{
	float:right;
	background:#ededed;
	/*font-weight:bold;*/
	color:#252525;
	margin-top:7px;
	text-transform:capitalize;
	border:1px solid #fff;
	margin-right:7px;
	
}
#pgMenu .pgNav li 
{
	float:left;
	border-left:1px solid #e2e2e2;
	/*font-weight:bold;*/
	cursor:pointer;
}
#pgMenu .pgNav a
{
	text-decoration:none;
	color:#252525;
	line-height:24px;
	padding:20px;
	display:block;
	padding-top:0px;
	padding-bottom:0px;
	
}
#pgMenu .pgNav a:hover , #pgMenu .pgNav .current a
{
		color:#18648e;
		background:#fff;
}
#pgMenu .pgNav li:first-child 
{
	border-left:none;
	/*-moz-border-radius-topleft: 20px;
	border-bottom-left-radius: 20px;
	-webkit-border-top-left-radius: 20px;
	
	-moz-border-radius-bottomleft: 20px;
	border-border-bottom-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;*/
}
#pgMenu .pgNav li:last-child 
{
	/*-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;*/
}

#mainnew
{
	background:#fff;
	float:left;
	width:100%;
/*	min-height:550px;
	padding-top:00px;
	padding-bottom:60px;
*/	
}
#main .sform li
{
	margin-bottom:10px;
	float:left;
	clear:both;
	/*width:940px;*/
}

#main .sform h3
{
	margin-bottom:0px;
	margin-top:10px;
	clear:both;
	font-size:15px;
	background-color:#cccccc;
	color:#333333;
	padding:5px;

}
#main .sform  ul
{
	margin-bottom:40px;
	clear:both;
}
#main   .sform input, #main  .sform textarea ,   #main  .sform .radio , .inputStyle
{
/*  -moz-box-shadow:inset 0px 0px 4px #ababab;
  -webkit-box-shadow: inset 0px 0px  4px #ababab; 
   box-shadow: inset 0px 0px  4px #ababab;  */
   margin:0px;
/*   margin-right:10px;
   font-size:14px;*/

}
#main  .sform ul select 
{
	border:none;
	width:340px;
	margin:0px;
	padding:0px;
}
.inputStyle
{
	display:block;
	float:left;
	text-indent:10px;
	margin-bottom:10px;
	background:#fff;
}

#main .sform label
{
	/*background:url(../images/label.jpg) repeat-x bottom; */
}
#main .sform textarea , #main  .sform input , #main  .sform select , #main  .sform text , .inputStyle 
{
	/* margin-left:-5px;*/
}
#main  .sform li{ clear:both;}
#main  .sform li .radio
{
	background:#FFF;
	width:360px;
	margin-bottom:10px;
	display:block;
	float:left;
	margin-bottom:10px;
	margin-left:-5px;
	padding-top:10px;
	
	vertical-align:middle;
	text-indent:20px;
}

 #main  .sform  input[type="file"]
{
	height:20px;
	line-height:20px;
	width:300px;
	border:none;
	margin:0px;
	border:1px solid #ccc;
	background:none;
}
 #main  .sform option
{
	padding:5px;
}
#main label
{
	/*float:left;
	height:30px;
	line-height:30px;
	padding:3px;
	padding-left:10px;
	padding-right:20px;
	font-weight:bold;
	margin-right:0px;
	width:200px;
	text-align:right;
	border:1px solid #ccc;
	color:#373737;*/
/*	background-color: transparent;
    background-image: url("../images/label.jpg");
    background-position: center bottom;
    background-repeat: repeat-x;*/

}
#main label.error   { color:red;font-weight:normal}
.button-position    { margin-left:210px; }/* margin = width of #main label class + 35 px*/

.pMore
{
	margin-top:10px;
}
.rOpt 
{
	margin:0px;
	padding:0px;
	float:left;
}
.rOpt  li
{
	
	display:block;
	margin:0px;
}
#main .sform ul .rOpt ul
{
	margin: 0px;
	margin-top:20px;
	
}
.tableHolder
{
	border:1px solid #ccc;
	width:100%;
	float:left;
	margin:10px 0
}
.tableHolder input[type="text"]
{
	float:none;
	height:20px;
	border:1px solid #ccc;
}
.tableHolder table
{
	width:100%;
	float:left;
}
.tableHolder td
{
	border-left:1px solid #d9d9d9;
}
.tableHolder td:first-child , .tableHolder th:first-child
{
	border-left:none;
}
.tableHolder thead
{	

	margin-bottom:2px;
	background: #DBDBDB; /* old browsers */
	color:#373737;
	background: -moz-linear-gradient(top, #DBDBDB 2%, #BBBBBB 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#DBDBDB), color-stop(100%,#BBBBBB)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DBDBDB', endColorstr='#BBBBBB',GradientType=0 ); /* ie */

}
.tableHolder th
{
	border-bottom:1px solid #a6a6a6;
	border-left:1px solid #a6a6a6;
	border-bottom:1px solid #a6a6a6;
	/*line-height:24px;*/
	background:url(../images/thBg.jpg) repeat-x 0px 0px #d9d9d9;
	text-align:left;
	padding:0 5px;
/*	text-indent:5px;*/
}
/**/
.invoiceTb
{
	margin-top:10px;
	margin-bottom:40px;
	float:left;
	width:100%;
	 border:solid 1px #a6a6a6;
}
.invoiceTb table
{
	border:1px solid #ccc;
	width:100%;
	margin-bottom:10px;
}
.invoiceTb table td
{
	padding:8px;
}
.invoiceTb table tr input
{
	width:80%;
	line-height:10px;
	height:14px;
  	padding:3px;
}
.invoiceTb table thead th
{
	background:url(../images/thBg.jpg) #ccc;
	line-height:25px;
	border-bottom:1px solid #a6a6a6;
}
.invoiceTb  .onDel  
{
	position:absolute;
	display:block;
	float:left;
}
.addBtn
{
	
	background:url(../images/addBtn.jpg) 0px 0px repeat-x;
	border:1px solid #bcbcbc;
	width:120px;
	/*-moz-border-radius: 20px;
	-webkit-border-bottom:20px;
	border-radius:20px;*/
	text-align:center;
	vertical-align:middle;
	/*line-height:35px;
	height:30px;*/
	padding:8px;
	/*padding-left:10px;*/
	/*font-weight:bold;*/
	cursor:pointer;
	font-size:16px;
	float:left;
	margin-left:10px;
}
.total
{
	float:right;
        text-align:right;
	/*margin-right:60px;*/
}
.total h3
{
	text-align:right;
	font-size:15px;
}
/*.addBtn  span
{
	color:#373737;
	text-decoration:none;
	background:url(../images/add.png) 3px 3px no-repeat;
	display:block; text-indent:15px;
}*/
.test{ background:#F30;}
  .alt  
{
	background:#e9eef5;
}

.tableHolder td
{
	padding:3px;
}

.error , .alert, .tip 
{
	/*margin-bottom:20px;*/
/*	padding:20px;
	color:#373737;
	cursor:pointer;
	width:918px;
	line-height:18px;*/
}
.error h4 , .alert h4 , .tip h4
{
	font-size:16px;
	margin-bottom:5px;
}
.alert
{
	background:#e0edfa;
	border:1px solid #6ba0d6;
}
.error 
{
	
	 color:red;
}
.tip 
{
	background:#fff0d1 ;
	border:1px solid #d7ab27;
}
 .closeBtn 
{
	float:right;
	margin-right:-30px;
	margin-top:-30px;
}
.searchOption
{
	border:1px solid #AFCBF3;
	margin-bottom:1px;
	font-weight:bold;
	font-weight:13px;
	color:#252525;
	padding-top:5px;
	padding-bottom:5px;
	background: #DCF0F7!important; /* old browsers */

/*background: -moz-linear-gradient(top, #C0C0C0 0%, #AFAFAF 100%); /* firefox */

/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C0C0C0), color-stop(100%,#AFAFAF)); /* webkit */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C0C0C0', endColorstr='#AFAFAF',GradientType=0 ); /* ie */
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height:20px;
	float:left;
	width:100%;

}
.searchOption li
{
	float:left;
	margin-left:8px;
	margin-right:8px;
}
.searchOption .search
{
	float:right;
	/*border:1px solid #717171;*/
	height:20px;
	margin-right:5px;
	padding-bottom: 6px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	background:url(../images/search.jpg) no-repeat 5px center #fff;
	width:150px;
	padding-left:25px;
	
	box-shadow: inset  0px   1px  0px 4px #717171 , 0px  2px  0px 0px #dbdbdb;
	-moz-box-shadow: inset  0px   2px  3px  #717171;   
	-webkit-box-shadow:  inset  0px   1px  0px 0px #717171 , 0px  2px  0px 0px #dbdbdb;

	
}
 .searchOption   .search .txt
 {
	 height:10px;
	 width:140px;
	 font-size:10px;
	 line-height:10px;
	
	 padding:0px;
	 background:none;
	 min-height:14px;
	}
.searchOption a
{
	color:#252525;
	padding:3px;
	padding-left:10px;
	padding-right:10px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	text-decoration:none;
}
.searchOption a:hover
{
	background:#6195C5;
	color:#FFF;
	/*text-shadow:#636363 0px 1px 0px;*/
}
.searchOption .on a
{
	background:#6195C5;
	color:#FFF;
	/*text-shadow:#636363 0px 1px 0px;*/
	box-shadow:inset  0px 1px  2px #AFCBF3 ;
	-moz-box-shadow:inset   0px   1px 2px #555 ;
	-webkit-box-shadow:  inset   0px   1px 2px #555 ;
}
.searchOption .search input
{
	background:none;
	border:none;
	 height:20px;
	 width:120px;
	 font-size:10px;
	 line-height:10px;
	 box-shadow:inset   0px   1px  2px #fff ;
	-moz-box-shadow:none;
	-webkit-box-shadow:  inset   0px   1px 2px #fff ;
	
}
#signInHolder
{
	background:url(../images/signInBg.png) no-repeat center center;
	width:1065px;
	height:621px;
	margin-left:auto;
	margin-right:auto;
}
#signInHolder .wrap
{	width:535px;
	margin-right:auto;
	margin-left:auto;
	margin-top:80px;
}
#signInHolder  .logo
{
	margin-bottom:10px;
	}
	
#signInHolder #signPanel
{
	background:url(../images/signInBg2.png) 0px 0px no-repeat;
	width:535px;
	height:346px;
	padding:20px;
}
#signInHolder #signPanel label
{
	font-family:din, Arial, Helvetica, sans-serif;
	color:#2b6ba8;
	font-weight:bold;
	float:left;
	width:120px;
	text-align:right;
	margin-right:20px;
}
#signInHolder #signPanel li
{
	margin-bottom:10px;
	line-height:35px;
}
#signInHolder #signPanel input[type="text"] , #signInHolder #signPanel input[type="password"]
{
	width:300px;
	font-size:16px;
}
#signInHolder h2
{
	text-align:center;
	font-size:24px;
	margin-bottom:30px;
}
 textarea 
{
	width:360px;
	border:1px solid #b1b1b2;
	height:30px;
	font-size:14px;
	padding:3px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	font-family: Helvetica, Arial , sans-serif;
	color:#000;
	font-size:12px;
	line-height:18px;
}
 textarea
 {
	 height:80px;
 }
 input[type="text"]  ,  .radio ,  input[type="password"] , .inputStyle
{
/*	width:360px;
	border:1px solid #b1b1b2;
	min-height:30px;
	padding:3px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size:14px;
	float:left;
	display:block;
*/
}
input[type="text"] , select , textarea,  .radio ,  input[type="password"] , .inputStyle
{
/*	width:360px;
	border:1px solid #b1b1b2!important;
	min-height:30px;
	padding:3px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size:14px;
	float:left;
	display:block;
        margin-left: -5px;
*/
}
 .radio
{
	border:1px solid #b1b1b2;
	padding:6px;
}

input[type="button"] , input[type="submit"]
{
	
	color:#FFF;
	font-weight:bold;
	/*height:44px;*/
	display:block;
	font-family: Helvetica, Arial, sans-serif;
	cursor:pointer;
	padding-right:10px;
	padding-left:10px;
	}
.blueBtn
{
	background:url(../images/btn-bg.png) repeat-x 0px 0px;
	border:none;
	font-size:16px;
	/*padding-left:10px;
	padding-right:10px;  */      
        float:left;
		margin:5px !important;
		padding:5px 10px !important;
		overflow:visible;
		width:auto;
}
#signInHolder #signPanel .redBtn
{
	background:url(../images/redBtnBg.png) repeat-x 0px 0px;
	border:none;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	font-size:16px;
}

#signInHolder #signPanel a
{
	text-decoration:none;
	
	font-weight:bold;
}
.signup  , .signup:hover
{
	background:url(../images/signIn.png) 0px 0px no-repeat;
	height:40px;
	line-height:45px;
	color:#FFF;
	width:100px;
	display:block;
	text-indent:20px;
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	text-shadow:none;
	height:53px;
	width:156px;
	float:right;
	margin-right:18px;
	margin-left:10px;
	
}
.floatRight
{
	float:right;
}
#footer
{
	margin-top:10px;
	width:100%;
	text-align:center;
	padding-top:20px;
	background:url(../images/noiseBg.jpg) repeat 0px 0px;
	height:100px;
	display:block;
	float:left;
}

.reportGraphHolder	

{
		padding:10px;
		background:url(../images/graphBackground.jpg) bottom repeat-x;
		border:1px solid #CCC;
	/*	-moz-border-radius: 10px;
		border-radius:10px;
		-webkit-border-radius: 10px;*/
}
shCol_new h4
{
	color:#2b6ba8!important;
	border-bottom:1px solid #acacac!important;
	padding-bottom:5px!important;
	line-height:30px!important;
    font-size:18px!important;
	padding-top: 0px!important;
	margin: 0px!important;
	padding-right: 0px!important;
	padding-left: 0px!important;
	float:none!important;
    font-weight:bold!important;

}
.dashCol_new h4 .imgHolder
{
	margin-right:5px!important;
	float:left!important;
	}
.dashCol_new ul
{
	line-height:18px!important;
	padding-left:10px!important;
}
.dashCol_new li
{
	line-height:28px!important;
	background:url(../images/redBullet.jpg) no-repeat 0px 10px!important;
	padding-left:20px!important;
}

.pagination
{
	margin-bottom:10px;
	margin-top:10px;
	float:left;
}

.pagination li
{
	float:left;
	border:1px solid #ccc;
	margin-right:5px;
	padding:5px;
	background:#ececec;
	
		-moz-border-radius: 5px;
		border-radius:5px;
		-webkit-border-radius: 5px;
}
.pagination .currentPg  ,  .pagination li:hover
{
	border:#7d7d7d  1px solid;
}
.pagination a
{
	padding-left:5px;
	padding-right:5px;
	background:#ececec;
}

#address  .customer
{
	float:left;
	width:40%;
	}
#address  .merchant
{
	float:left;
	/*width:40%;
	margin:0 0 20px 150px;
	*/
	width:30%;	
	margin:0 0 20px 145px;
	
}
#address 
{
	padding-top:10px;
	font-size:12px;
	font-weight:bold;
}
.dialog
{
	position:absolute;
	top:-1000px;
	left:-1000px;
	z-index:2000;
	width:300px;
	background:url(../images/bgalert.jpg) repeat-x 0px 0px #e1e1e1;
	
	-moz-border-radius: 5px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	padding:10px;
	border:1px solid #ababab;
	
	-moz-box-shadow: 0px 0px 30px #000;
-webkit-box-shadow: 0px 0px 30px #000;
box-shadow: 0px 0px 30px #000;
}
.dialog input[type="text"]
{
	width:280px;
	margin-bottom:10px;
}
.dialog .blueBtn
{
	float:right;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
}
.dialog .closeBtn
{
	
	margin-right:-25px;
	margin-left:-15px;
}

.calendar_view
{
	background:url(../images/calendar.png) no-repeat center center;
	border:0px;
	-moz-border-radius: 0px;
	border-radius: 5px;
	-webkit-border-radius: 0px;
	min-height:15px;
}

.clear_new{clear:both;}
.captcha_img{ margin:10px 5px 10px 210px;}
.captcha_img img { margin-right:5px;}
/*.btn_section{ margin:0 0 0 230px;}*/
#error-msg {float:left!important; position:relative!important;width:325px;}
.error_list li{ color:red; /*margin:10px 0 0 10px;*/ float:left; margin-bottom:2px!important;}
/*.error_serverside{ background-color:#EBDDE2; font-family:Arial; width:360px; padding:10px; text-align: center; margin:0 auto 10px auto; color:red;     -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;}*/


    
.msg_serverside{background:#E0EDFA;
border:1px solid #6BA0D6; font-size:13px; /*padding:10px; */text-align: center; margin:0px auto 10px auto; color:#2B6BA8; float:left; width:100%;}

    

  .error_serverside_beforelogin{
background:#E0EDFA none repeat scroll 0 0;
border:1px solid #6BA0D6;  padding:10px; text-align: center; margin:0px auto 10px auto; color:#2B6BA8; }

  .link{text-decoration: underline; color:#000;}/* show hyperlink in different color and with underline*/
  .rOpt_new label{width:inherit!important;}
  .rOpt_new
{
	margin:0px;
	padding:0px;
	float:left;
}
.rOpt_new  li
{

	display:block;
	margin:0px;
}
#main .sform ul .rOpt_new ul
{
	margin: 0px;
	margin-top:20px;

}
.total_new_table{ background-color:#f2f2f2; border:solid 1px #cccccc; height:80px; padding:10px;}
.redLbl {color:#F00;}



.userId						{ float:right; }

#date_search{/*margin-right:2px; vertical-align:sub;*/}

.select_size{width:225px; height:auto!important;}

.FormLabel label{font-weight:normal; padding-right:5px;}

.searchOption1{
    background: none repeat scroll 0 0 #DCD9D9;
    border: 1px solid #BDD8DA;
	border-bottom:none;
    color: #252525;
    float: left;
    font-weight: bold;
/*    padding-top: 5px;*/
	margin-top:10px;
    width: 100%;
}

.searchOption1 li {
    float: left;
	padding:5px 8px;

}

.searchOption1 .on a{
    color: #19658F; text-decoration:none;}
	
	.searchOption1 ul li a{margin-right:30px;}


.searchOption1 a{float: left;
    /*-moz-border-radius: 20px 20px 20px 20px;*/
    color: #252525;
   /* padding: 3px 10px;*/
    text-decoration: none; text-decoration:underline;}
	
	.search_text{width:150px; }
	
	.select_size .FormInput2{ width:184px; height:18px; min-height:10px; padding-top:5px}	
	.label_input label {padding:2px 5px 0 0!important; line-height:18px!important;}
	.search_btn{ margin-top:5px;    	}
.date_type{ clear:left; margin:10px 0 5px 0; float:left; font-weight:bold;}	
#date_type input[type=text]{margin-right:5px!important;width:310px}
#issue_date{margin-left:5px;}
#delivery_date{margin-left:10px;}
#due_date{margin-left:10px;}

.date_f{margin-right:2px;}

.form_no_height{height:auto!important;}

#date_type .error, #date_selection .error{margin:0; padding:0; font-weight:normal;}
.label_input{background: url("../images/label.jpg") repeat-x scroll center bottom transparent;
    border: 1px solid #CCCCCC;
    left:88px;float: left;
    height: 26px!important;
	min-height:26px;
    width: 100px; line-height:18px!important; padding:0!important;}
	
.pgTitle h2 ul li{font-size:12px; font-weight:normal; padding-top:2px;}

.tableHolder input{color:#000000; font-weight:normal;}

.icon_cmd img{padding-right:5px;  float:right;}

/*.Select3{ border: 1px solid #B1B1B2; display: block; float: left; font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif !important; font-size: 12px !important;    height: 38px; line-height: 29px; margin-left: 5px; min-height: 38px; padding: 3px; width: 50px !important;}
*/
.noprint    {display:none;}
/*.odd{{background:#ececec;}*/
table tr.odd td{background:#ececec;}


/* Nandan : Search Invoice page css */

.search_input{float:left; width:550px;}

.search_input input{float:left;}

.redlt{display:inline; margin-left:2px; font-weight:normal;}

.btn-row input{display:inline-block; background:url(../images/blueBtnBg.png) repeat-x 0px 0px; border:none; margin:5px !important; padding:5px 10px !important; overflow:visible; width:auto;}
/*.min_width{width:185px!important;} */


.ErrorContainer { padding:10px !important; color:#000000;}	
.ErrorContainer h1	{ color:#19658f; font-size:22px; font-weight:normal; line-height:29px;}
.ErrorContainer ul { margin:0; padding:0}
.ErrorContainer ul li { margin:0; padding:0; list-style-type:none; background:url(../images/redArrow.gif) no-repeat 0  ; padding:5px  10px; font-weight:normal !important;}

.TableForm { margin-bottom: 10px}
.TableForm table { border-top:solid 1px #dedcdc; width: 100%}
.TableForm table tr {background:#ededed; }
.TableForm table td{ background:#ededed; border-right:solid 1px #fff; border-bottom:solid 1px #fff; padding:5px; vertical-align:middle;}
.TableForm table th { border-right:solid 1px #fff; border-bottom:solid 1px #fff; padding:5px; vertical-align:middle; text-align:left; background:#dbdada}
.TableForm table td .calBtn { background:url(../images/cal.gif) no-repeat; width:16px; height:16px; border:0; padding:0; margin:2px 0px 0 -18px !important; float:left; }
.FormInput9 { height:12px; border:solid 1px #abadb3; background:#fff; float:left; width:193px; padding:3px; clear:right;}
.FormInput10 { height:12px; border:solid 1px #afafaf; float:left; width:193px; padding:3px; clear:right; background:#fbfbfb; color:#afafaf;}
.TableForm table tr.AlterBG td		{ background:#f6f6f6 !important;}
.TableForm table select  {height:auto;padding:0; margin:0;color:#333;width:201px;float:left;}
.TableForm table span.error_list { float:left; /*margin-top:5px;*/ color:#FF0000;}
.bdrPd { border:solid 1px #ccc; padding:2px; margin:20px  0 0 0 }
 .rOpt_new,.pMore { border-top:solid 1px #fff; width:100%; padding:5px 0 0 20px; margin-left:-5px; margin-top:5px;}
 .app, .recurr { margin:5px 0 !important}
 .Errormrg { margin-left:150px;}
 .textareaheight {height:100px; font-weight: normal !important}
 .user_info {color:#19658F; font-weight:bold;}